<h4> Displaying search results for Theatres </h4>

<table class="table table-striped">
  <tr>
    <th>Theatre Name</th>

    </tr>

  <% @theatres.each do |theatre| %>
      <tr>
        <td><%= link_to theatre.name.upcase, spot_theatre_path(id: theatre.id) %></td>
      </tr>
  <% end %>
</table>
</body>

<%= link_to "Go Back to Main Page", root_theatres_path %>

