
<h4> Displaying search results for Movies </h4>


<table class="table table-striped table-bordered">
  <tr>
    <th>Movie Name</th>



  </tr>

  <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.name.upcase, spot_movie_path(id: movie.id) %></td>


      </tr>
  <% end %>
</table>


<%= link_to "Go Back to Main Page", root_theatres_path, :class => "btn btn-small btn-primary" %>

