<% if %>
    <% @casts_hero.blank? %>

    <h4> No Hero to display </h4>

<% else %>

<h4 style="color:chartreuse; text-align:center; background-color: orangered"> Displaying Heros and Movies <%#= @casts_hero.first.hero.upcase %> </h4>

<table class="table table-striped table-bordered">
  <tr>
    <th> Hero </td>
    <th> Movie  </td>
  </tr>
  <% @casts_hero.each do |cast| %>
      <tr>
         <td>  <%= cast.hero.upcase %> </td>
         <td>  <%= cast.movie.name.upcase %> </td>
      </tr>
  <% end %>

</table>

<% end %>